<H2> *** 방명록 만들기 *** </H2>
<pre style="font-size:9pt;font-family:바탕체;">
- 기존의 회원가입과 비교... 로직은 거의 동일함.
- 추가 : 새로운 로직은 Select쿼리로 데이터를 가져오는 부분과
- 한페이지에 정해진 숫자만큼의 레코드를 출력하는 부분.
1. 테이블 만들기
- 시퀀스만들기
	create sequence guestbook_seq increment by 1 start with 1 nocycle;
-테이블만들기
	create table GUESTBOOK (
		GUESTBOOK_ID NUMBER NOT NULL,
		REGISTER DATE NOT NULL,
		NAME VARCHAR2(20) NOT NULL,
		EMAIL VARCHAR2(40) NOT NULL,
		PASSWORD VARCHAR2(10),
		CONTENT LONG NOT NULL,
		CONSTRAINT GUESTBOOK_PK PRIMARY KEY (GUESTBOOK_ID)
	);
2.자바빈(저장빈 만들기) <a href="GuestBook.java" target="_blank">[GuestBook.java]</A>
3.자바빈(처리빈) 만들기 <a href="GuestBookManager.java" target="_blank">[GuestBookManager.java]</A>
4.방명록 글 보여주기 <a href="list.jsp" target="_blank">[list.jsp]</A>
5.방명록 글쓰기 <a href="writeForm.jsp" target="_blank">[writeForm.jsp]</a>, <a href="write.jsp" target="_blank">[write.jsp]</a>
6.방명록 글 수정하기 <a href="updateForm.jsp" target="_blank">[updateForm.jsp]</a>, <a href="update.jsp" target="_blank">[update.jsp]</a>
7.에러처리 <a href="error.jsp" target="_blank">[error.jsp]</a>
</pre>