<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<!-- Control servlet 만들기 -->
  <servlet>
    <servlet-name>Control</servlet-name>
    <servlet-class>mvc.controller.Control</servlet-class>
    <init-param> <!-- command.properties 호출 -->
      <param-name>message</param-name>
      <param-value>D:\morningClass\khPractice\jsp\WebContent\WEB-INF\properties\command.properties</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Control</servlet-name>
    <url-pattern>*.nhn</url-pattern>
  </servlet-mapping>
  
<!-- board servlet 만들기 -->
 <servlet>
	<servlet-name>board</servlet-name>
	<servlet-class>ch19.controller.ControllerAction</servlet-class>
	<init-param> <!--CommandPro.properties 호출 -->
		<param-name>propertyConfig</param-name>
		<param-value>D:\morningClass\khPractice\jsp\WebContent\WEB-INF\properties\CommandPro.properties</param-value>
	</init-param>
</servlet>

  <servlet-mapping>
    <servlet-name>board</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping> 

</web-app>